{% extends 'base.html' %}
{% block content %}

<h1>{{ district.name }}</h1>

<h4>{{ district.state }}</h4>
<h4>{{ district.region}}</h4>

<div class="politicians">
    {% for politician in district.politicians %}
    <div class="politician-details">
        <a href="/politician/{{ politician.id }}"><img src="{{ politician.photo_url }}" alt="{{ politician.name }}" width="270px">
        <p><strong>{{ politician.name }}</strong></p></a>
        <p><strong>Party: ${{ politician.party }}</strong></p>
    </div>
    {% endfor %}
</div>


<h5>Edit details</h5>

<form>
    <fieldset>
        <legend>Edit this district below:</legend>



        <!-- TODO: Remove the next paragraph and use the `form` object passed in 
            from the route to render a form. -->
        <p><em>Form fields go here!</em></p>

        <input type="submit" value="Submit">
    </fieldset>
</form>

{% endblock %}