{% extends 'base.html' %}
{% block content %}

<h1>Politician - {{ politician.name }}</h1>

<p><img src="{{ politician.photo_url }}" width="300px" height="180px"></p>

<p><strong>Office:</strong> {{ politician.office }}</p>

<p><strong>Party:</strong> {{ politician.party }}</p>

<p><strong>District:</strong> {{ politician.district.name }}</p>

<h2>Edit Politician Info</h2>

<form method="POST" action="{{ url_for('main.politician_detail', politician_id=politician.id) }}">
    <fieldset>
        <legend>Edit this politician below:</legend>
        {{ form.csrf_token }}

        {{ form.name.label }}
        {{ form.name }}

        {{ form.office.label }}
        {{ form.office }}

        {{ form.party.label }}
        {{ form.party }}

        {{ form.photo_url.label }}
        {{ form.photo_url }}
        
        {{ form.district.label }}
        {{ form.district }}
        {{ form.submit }}
    </fieldset>
</form>

{% endblock %}